.title-section {
    color: black;
    text-align: center;
    font-size: 20pt;
    padding-bottom: 10px;
}

#map-container {
    height: 100%;    
}

.map-container-vendors {
    margin-left: 10%;
    margin-right: 10%;
}